In [1]:
import pandas as pd

In [2]:
data_2015 = pd.read_csv('도로교통공단_전국_사망교통사고정보(2015)_20190910.csv', encoding = 'euc-kr')

data_2016 = pd.read_csv('2016년_교통사망사고정보.csv', encoding = 'euc-kr')

data_2017 = pd.read_csv('도로교통공단_전국사망교통사고_2017.csv', encoding = 'euc-kr')

data_2018 = pd.read_csv('도로교통공단_전국_사망교통사고정보(2018)_20190910.csv', encoding = 'euc-kr')

In [3]:
print(data_2015.shape)
print(data_2016.shape)
print(data_2017.shape)
print(data_2018.shape)

(4447, 26)
(4119, 27)
(4065, 27)
(3657, 26)

In [4]:
data_2016.columns

Index(['발생년', '발생년월일시', '발생분', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상신고자수', '발생지시도', '발생지시군구', '사고유형_대분류', '사고유형_중분류', '사고유형', '법규위반_대분류',
       '법규위반', '도로형태_대분류', '도로형태', '당사자종별_1당_대분류', '당사자종별_1당', '당사자종별_2당_대분류',
       '당사자종별_2당', '발생위치X_UTMK', '발생위치Y_UTMK', '경도', '위도'],
      dtype='object')

In [5]:
data_2016.drop(columns = '발생분', inplace = True)
data_2017.drop(columns = '발생분', inplace = True)

In [6]:
print(data_2015.shape)
print(data_2016.shape)
print(data_2017.shape)
print(data_2018.shape)

(4447, 26)
(4119, 26)
(4065, 26)
(3657, 26)

In [7]:
data_2016.columns = data_2015.columns
data_2017.columns = data_2015.columns

In [8]:
data = pd.concat([data_2015, data_2016, data_2017, data_2018])

In [9]:
data.columns

Index(['발생년', '발생년월일시분', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수', '부상신고자수',
       '발생지시도', '발생지시군구', '사고유형_대분류', '사고유형_중분류', '사고유형', '법규위반_대분류', '법규위반',
       '도로형태_대분류', '도로형태', '가해자_당사자종별_대분류', '가해자_당사자종별', '피해자_당사자종별_대분류',
       '피해자_당사자종별', '발생위치X_UTMK', '발생위치Y_UTMK', '경도', '위도'],
      dtype='object')

In [10]:
columns = ['발생년월일시분', '요일', '사망자수', '사상자수', '중상자수', '경상자수', '부상신고자수',
       '발생지시도', '발생지시군구', '사고유형_대분류', '사고유형_중분류', '사고유형','법규위반']

In [11]:
data = data[columns].reset_index(drop=True)

In [12]:
data['사고유형_대분류'].value_counts()

차대차      6530
차대사람     6426
차량단독     3328
철길건널목       4
Name: 사고유형_대분류, dtype: int64

In [13]:
data['사고유형_중분류'].value_counts()

횡단중           3781
기타            3109
측면충돌          1760
추돌            1753
공작물충돌         1321
정면충돌          1139
전도전복           921
차도통행중          722
측면직각충돌         619
도로이탈           363
길가장자리구역통행중     326
전도             253
보도통행중          153
전복              51
후진중충돌            9
주/정차차량 충돌        4
철길건널목            3
차단기돌파            1
Name: 사고유형_중분류, dtype: int64

In [14]:
data[data['사상자수'] > 4]

,발생년월일시분,요일,사망자수,사상자수,중상자수,경상자수,부상신고자수,발생지시도,발생지시군구,사고유형_대분류,사고유형_중분류,사고유형,법규위반
8,2015-01-02 17:40,금,1,7,0,6,0,경기,평택시,차대차,추돌,주정차중 추돌,안전운전 의무 불이행
13,2015-01-03 04:50,토,1,5,3,1,0,강원,강릉시,차대차,측면충돌,측면충돌,신호위반
55,2015-01-05 21:38,월,1,6,1,4,0,인천,계양구,차대차,측면충돌,측면충돌,교차로 통행방법 위반
64,2015-01-06 12:32,화,1,5,3,1,0,서울,성북구,차대차,추돌,진행중 추돌,안전운전 의무 불이행
84,2015-01-07 16:50,수,1,8,7,0,0,경기,고양시,차대차,측면충돌,측면충돌,교차로 통행방법 위반
86,2015-01-07 23:50,수,1,5,1,3,0,경기,양주시,차대차,추돌,진행중 추돌,안전운전 의무 불이행
116,2015-01-11 03:25,일,1,5,1,3,0,경기,성남시,차대차,추돌,주정차중 추돌,안전운전 의무 불이행
121,2015-01-11 09:00,일,2,5,0,3,0,충남,당진시,차대차,정면충돌,정면충돌,중앙선 침범
123,2015-01-11 17:10,일,1,5,3,1,0,강원,영월군,차대차,측면충돌,측면충돌,안전운전 의무 불이행
126,2015-01-11 22:12,일,2,5,1,2,0,강원,태백시,차대차,정면충돌,정면충돌,중앙선 침범
128,2015-01-12 06:10,월,1,5,0,3,1,인천,남동구,차대사람,횡단중,횡단중,신호위반
141,2015-01-13 09:40,화,1,9,5,3,0,울산,남구,차대차,추돌,주정차중 추돌,안전운전 의무 불이행
148,2015-01-13 19:45,화,2,5,3,0,0,전북,순창군,차대차,측면충돌,측면충돌,신호위반
224,2015-01-19 19:25,월,4,6,1,1,0,강원,인제군,차량단독,공작물충돌,공작물충돌,안전운전 의무 불이행
297,2015-01-25 17:20,일,1,6,4,1,0,충북,청주시,차대차,측면충돌,측면충돌,안전운전 의무 불이행
355,2015-01-31 03:00,토,1,5,4,0,0,대전,중구,차대차,정면충돌,정면충돌,신호위반
363,2015-01-31 21:12,토,1,6,4,1,0,전남,목포시,차대차,측면충돌,측면충돌,신호위반
382,2015-02-03 03:24,화,4,5,0,1,0,경북,구미시,차대차,기타,기타,안전운전 의무 불이행
400,2015-02-04 18:00,수,1,8,3,4,0,충남,천안시,차대차,추돌,주정차중 추돌,안전운전 의무 불이행
416,2015-02-06 14:25,금,1,8,3,4,0,광주,북구,차대차,추돌,주정차중 추돌,안전운전 의무 불이행
436,2015-02-08 01:15,일,2,5,3,0,0,전남,광양시,차량단독,공작물충돌,공작물충돌,안전운전 의무 불이행
480,2015-02-11 09:39,수,1,37,18,18,0,인천,서구,차대차,추돌,진행중 추돌,안전운전 의무 불이행
481,2015-02-11 09:39,수,1,24,4,19,0,인천,서구,차대차,추돌,진행중 추돌,안전운전 의무 불이행
545,2015-02-17 17:30,화,2,13,4,7,0,제주,제주시,차대차,기타,기타,과속
565,2015-02-19 15:10,목,1,31,7,21,2,서울,강북구,차대차,추돌,진행중 추돌,신호위반
571,2015-02-20 00:35,금,2,6,3,1,0,경북,고령군,차대차,기타,기타,중앙선 침범
582,2015-02-21 15:20,토,1,7,5,0,1,제주,서귀포시,차대차,정면충돌,정면충돌,중앙선 침범
620,2015-02-26 02:25,목,1,5,2,2,0,충북,음성군,차대차,기타,기타,안전운전 의무 불이행
639,2015-02-27 18:15,금,1,8,1,6,0,전북,남원시,차량단독,전도전복,전도전복,안전운전 의무 불이행
763,2015-03-11 00:25,수,1,5,3,1,0,전북,전주시,차대차,측면충돌,측면충돌,안전운전 의무 불이행
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15184,2018-04-20 15:00,금,1,6,2,3,0,경북,구미시,차대차,추돌,추돌,안전운전 의무 불이행
15186,2018-10-15 20:04,월,2,12,8,2,0,경북,상주시,차대차,추돌,추돌,안전운전 의무 불이행
15225,2018-09-02 16:50,일,2,6,0,4,0,경남,함안군,차대차,추돌,추돌,안전운전 의무 불이행
15265,2018-08-19 17:40,일,2,5,0,3,0,인천,계양구,차대차,정면충돌,정면충돌,안전운전 의무 불이행
15304,2018-04-05 09:30,목,2,39,8,29,0,울산,북구,차대차,측면충돌,측면충돌,안전운전 의무 불이행
15316,2018-04-24 20:40,화,1,5,0,4,0,경기,남양주시,차대차,추돌,추돌,안전운전 의무 불이행
15385,2018-05-07 09:05,월,1,5,4,0,0,부산,기장군,차량단독,공작물충돌,공작물충돌,과속
15390,2018-11-27 10:19,화,1,8,3,4,0,경기,성남시,차대차,추돌,추돌,과속
15399,2018-05-02 20:28,수,1,9,2,6,0,경기,광주시,차대차,정면충돌,정면충돌,중앙선 침범
15487,2018-02-10 23:24,토,1,5,0,4,0,충북,청주시,차대차,정면충돌,정면충돌,중앙선 침범
15489,2018-12-27 18:05,목,1,5,4,0,0,충북,청주시,차대차,측면충돌,측면충돌,신호위반
15523,2018-11-22 07:25,목,1,7,2,4,0,충남,예산군,차대차,측면충돌,측면충돌,안전운전 의무 불이행
15527,2018-09-15 07:08,토,1,6,1,4,0,충남,예산군,차대차,추돌,추돌,안전운전 의무 불이행
15535,2018-08-18 11:40,토,1,5,2,2,0,충남,당진시,차대차,측면충돌,측면충돌,교차로 통행방법 위반
15543,2018-12-15 10:45,토,1,11,2,8,0,충남,논산시,차대차,추돌,추돌,안전거리 미확보
15559,2018-08-27 01:15,월,1,5,2,2,0,전북,정읍시,차대차,측면충돌,측면충돌,직진 및 우회전차의 통행방해
15723,2018-12-31 14:30,월,1,5,2,2,0,대구,달서구,차대차,정면충돌,정면충돌,중앙선 침범
15820,2018-01-22 06:00,월,1,9,4,4,0,서울,송파구,차대차,측면충돌,측면충돌,신호위반
15850,2018-02-22 18:43,목,1,6,1,4,0,부산,사상구,차대차,추돌,추돌,안전운전 의무 불이행
15874,2018-04-29 23:40,일,1,5,2,2,0,경기,화성시,차대차,측면충돌,측면충돌,안전운전 의무 불이행
15927,2018-02-23 21:00,금,1,11,4,2,4,강원,정선군,차대차,측면충돌,측면충돌,중앙선 침범
15976,2018-05-15 02:10,화,1,5,4,0,0,충남,아산시,차대차,기타,기타,안전운전 의무 불이행
16034,2018-08-04 10:40,토,1,5,0,4,0,전북,남원시,차대차,정면충돌,정면충돌,중앙선 침범
16042,2018-01-27 06:45,토,1,6,2,3,0,전북,무주군,차대차,추돌,추돌,과속
16052,2018-01-23 10:30,화,1,9,2,6,0,전남,여수시,차대차,측면충돌,측면충돌,중앙선 침범
16127,2018-07-28 11:25,토,1,8,2,5,0,경북,청송군,차대차,정면충돌,정면충돌,중앙선 침범
16160,2018-03-31 12:53,토,1,7,2,4,0,경남,창녕군,차대차,정면충돌,정면충돌,중앙선 침범
16231,2018-07-10 10:10,화,1,6,2,3,0,인천,남구,차대차,추돌,추돌,안전거리 미확보
16233,2018-02-12 17:22,월,1,6,4,1,0,경기,안산시,차대차,측면충돌,측면충돌,중앙선 침범
16249,2018-10-24 10:20,수,1,5,0,3,1,대전,서구,차대차,기타,기타,안전거리 미확보

In [23]:
data['사고날짜'] = data['발생년월일시분'].apply(lambda x: x[:10])

data['사고난월'] = data['사고날짜'].apply(lambda x : x[2:7])

result1 = data.pivot_table(index = '사고난월', values = '사상자수', aggfunc = 'count').rename(columns = {'사상자수' : '사고횟수'})
x = data.pivot_table(index = '사고난월', values = '사상자수', aggfunc = 'sum')

result1 = pd.concat([result1, x], axis = 1)

result1.head()

       사고횟수  사상자수
사고난월
15-01   365   558
15-02   284   539
15-03   369   561
15-04   338   616
15-05   368   619

In [24]:
result2 = data.pivot_table(index = '사고날짜', values = '사상자수', aggfunc = 'count').rename(columns = {'사상자수' : '사고횟수'})

result2.head()

            사고횟수
사고날짜
2015-01-01     4
2015-01-02     8
2015-01-03    14
2015-01-04    17
2015-01-05    15

In [25]:
result3 = data.pivot_table(index = '요일', values = '사상자수', aggfunc = 'count').reindex(index = ['월','화','수','목','금','토','일'])

result3

    사상자수
요일
월   2345
화   2357
수   2313
목   2302
금   2485
토   2423
일   2063

In [26]:
data['발생시간'] = data['발생년월일시분'].apply(lambda x: int(x[11:13]))

result4 = data.pivot_table(index = '발생시간', values = '사상자수', aggfunc = 'count')

result4

      사상자수
발생시간
0      633
1      512
2      487
3      427
4      595
5      712
6      807
7      562
8      589
9      610
10     748
11     671
12     584
13     648
14     671
15     689
16     669
17     822
18    1027
19     954
20     832
21     717
22     634
23     688

In [27]:
result5 = data.pivot_table(index = '발생지시도', values = '사상자수', aggfunc = 'count')

result5

       사상자수
발생지시도
강원      843
경기     3026
경남     1391
경북     1767
광주      372
대구      571
대전      363
부산      605
서울     1348
세종       79
울산      300
인천      483
전남     1404
전북     1105
제주      325
충남     1418
충북      888

In [28]:
a = pd.DataFrame([['서울',9705],
             ['부산',3400],
             ['대구',2450],
             ['인천',2939],
             ['광주',1493],
             ['대전',1518],
             ['울산',1154],
             ['세종',304],
             ['경기',13031],
             ['강원',1521],
             ['충북',1619],
             ['충남',2180],
             ['전북',1820],
             ['전남',1790],
             ['경북',2674],
             ['경남',3356],
             ['제주',653]]).set_index(0).rename(columns = {1 : '인구 수'})

In [29]:
result5 = pd.concat([result5,a], axis = 1)

result5

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

    사상자수   인구 수
강원   843   1521
경기  3026  13031
경남  1391   3356
경북  1767   2674
광주   372   1493
대구   571   2450
대전   363   1518
부산   605   3400
서울  1348   9705
세종    79    304
울산   300   1154
인천   483   2939
전남  1404   1790
전북  1105   1820
제주   325    653
충남  1418   2180
충북   888   1619

In [30]:
result1.to_csv('result1', encoding = 'utf-8-sig')
result2.to_csv('result2', encoding = 'utf-8-sig')
result3.to_csv('result3', encoding = 'utf-8-sig')
result4.to_csv('result4', encoding = 'utf-8-sig')
result5.to_csv('result5', encoding = 'utf-8-sig')